/* Tragt diese Zeilen in Eure CSS-Datei ein*/
.mmyref {
  font-family: arial, verdana, tahoma, helvetica, sans-serif;
  font-size:10px;
  padding:0px 0px 0px 20px;
  margin:0px 0px 0px 230px;
  float:right;
}